<section class="relative flex flex-col items-center justify-center w-full py-16">
    <div class="flex flex-col items-center justify-center mb-12 z-20">
        <h1 class="text-white text-3xl font-bold mb-4">Why We're the Best</h1>
        <hr class="w-[25%] border-2 rounded border-orange-500">
    </div>
    <div class="grid lg:grid-cols-4 grid-cols-2 gap-10 w-[80%] z-20">
        <div class="flex flex-col items-center justify-center text-white">
            <i class="fa-solid fa-hotel border border-white rounded-full p-4"></i>
            <h2 class="text-xl font-bold">Accomodation</h2>
            <p class="text-center text-sm">We offer the finest selection of top notch hotels anywhere!</p>
        </div>
        <div class="flex flex-col items-center justify-center text-white">
            <i class="fa-solid fa-hotel border border-white rounded-full p-4"></i>
            <h2 class="text-xl font-bold">Accomodation</h2>
            <p class="text-center text-sm">We offer the finest selection of top notch hotels anywhere!</p>
        </div>
        <div class="flex flex-col items-center justify-center text-white">
            <i class="fa-solid fa-hotel border border-white rounded-full p-4"></i>
            <h2 class="text-xl font-bold">Accomodation</h2>
            <p class="text-center text-sm">We offer the finest selection of top notch hotels anywhere!</p>
        </div>
        <div class="flex flex-col items-center justify-center text-white">
            <i class="fa-solid fa-hotel border border-white rounded-full p-4"></i>
            <h2 class="text-xl font-bold">Accomodation</h2>
            <p class="text-center text-sm">We offer the finest selection of top notch hotels anywhere!</p>
        </div>
        
    </div>
    <div class="absolute inset-0 bg-gradient-to-b from-[#284B5D]/[0.8] to-[#3E7C98]/[0.8] w-full h-full z-10"></div>
</section>
