<nav class="flex flex-col lg:flex-row items-center justify-center absolute top-6 left-0 right-0 z-20">
    <div class="flex item-center">
        <i class="fa-solid fa-person-skiing align-middle h-[1rem] text-white"></i>
        <h1 class="text-white mr-8 ml-4">Winter Tour</h1>
    </div>
    <ul class="flex gap-8 text-white">
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Hot tours</a></li>
        <li><a href="#">News</a></li>
        <li><a href="#">Schedule</a></li>
        <li><a href="#">Gallery</a></li>
        <li><a href="#">Pages</a></li>
        <li><a href="#">Contact</a></li>
    </ul>
</nav>
